{% extends 'top_like_tags/base.html' %}
{% block base %}
{% load static %}
<style>
.main_part, .overlay{
    display: none !important;
}
</style>
    <Br><Br><br>
    <div class="container mx-auto text-center">
        <div class="row">
            <div class="col-md-6" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="50">
                <div class="mx-auto text-center"  style="padding: 50px; width: 300px;">
                    <img alt="" src="{% static 'logo1.png' %}" style="max-width: 100%; height: auto; display: block;">
                </div>
            </div>
            <div class="col-md-6" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="50">
                <div class=" mr-auto text-left">
                    <p style="color:grey;">Hello There! Hola! Nei Hou! TopLikeTags was founded in July 2014 by <a href="https://instagram.com/heycinc">@Heycinc</a>. It was started with a simple website displaying top fixed hashtags that were manually analysed
                        and handpicked by me. I am a regular social media user myself, noticing that reaching to wider audience
                        becomes rather harder than before.</p>
                    <p style="color:grey;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So to save everyone’s time, we have upgraded it to an automatic
                        hashtag generator for yall
                        You can simply insert a keyword and the relevant hashtags will be
                        generated in a click. Have fun finding the hashtags to push your content!</p>
                    <p style="color:grey;">Hope it helps Wanna collab with me or just be grambuddy? Feel free to pop me a message on
                        <a href="https://instagram.com/heycinc">@Heycinc</a> or <a href="mailto:hello@topliketags.com">email</a></p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
<div class="container mx-auto text-center ads" style="z-index: 4;">
    <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- toplikesocial -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3557075530543855"
         data-ad-slot="5030182906"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div><br><br><br>
    <div class="mx-auto col-md-12 text-center">
         <!--git init
             git add .
             git commit -am "make it"
             git push origin master-->
        <div class="col-md-6 mx-auto text-center">
            <br>
            <h3 style="font-weight: 900;">Our Hashtag Tools</h3>
            <hr class="col-md-1" style="background: #f9333f;"><br><Br>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding: 50px;">
                <div onclick="window.location.replace('{% url 'top_like_tags:index' %}');" class="tools_con text-center" style="box-shadow: 0px 0px 10px 0px #9c9c9c; padding: 50px; border: 2px solid grey; border-radius: 20px;">
                    <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                        <img style="max-width: 100%; height: auto; display: block;" src="{% static 'hydro-power.png' %}">
                    </div><br>Automatic Hashtags Generator</p>
                </div>
            </div>
            <div class="col-md-4" style="padding: 50px;">
                <div onclick="window.location.replace('{% url 'top_like_tags:fixed_hashtag' %}');" class="tools_con text-center" style="box-shadow: 0px 0px 10px 0px #9c9c9c; padding: 50px; border: 2px solid grey; border-radius: 20px;">
                    <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                        <img style="max-width: 100%; height: auto; display: block;" src="{% static 'hashtag.png' %}">
                    </div><br>
                    <p style="font-size: 20px">Top Handpicked Hashtags</p>
                </div>
            </div>
            <div class="col-md-4" style="padding: 50px;">
                <div onclick="window.location.replace('{% url 'top_like_tags:forums' %}');" class="tools_con text-center" style="box-shadow: 0px 0px 10px 0px #9c9c9c; padding: 50px; border: 2px solid grey; border-radius: 20px;">
                    <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                        <img style="max-width: 100%; height: auto; display: block;" src="{% static 'question.png' %}">
                    </div><br>
                    <p style="font-size: 20px">Hashtags Tips</p>
                </div>
            </div>
        </div>
    </div><br><Br><Br>
            <style>
                .tools_con:hover{
                    transition: ease ease-out 0.4s;
                    {#color: white;#}
                    cursor: pointer;
                    box-shadow: none !important;
                    {#background: #00e1ff;#}
                }
            </style>
    <div class="container mx-auto text-center ads" style="z-index: 4;">
    <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- toplikesocial -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3557075530543855"
     data-ad-slot="5030182906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div><br><bR><Br>
<div class="col-md-12">
                <div class="container" style="padding: 10px;">
                    <hr>
                    <div class="row">
                        <div class="mr-auto text-left">
                            <p style="font-size: 0.8rem;">Copyright © 2020 TopLikeTags
                                <a class="ftxt" href="{% url 'top_like_tags:about' %}">| About |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:policy' %}">Privacy |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><br>
                        <div class="ftxt_show mr-auto text-center" style="font-size: 0.8rem; display: none">
                            <a href="{% url 'top_like_tags:about' %}">About</a>
                            <a href="{% url 'top_like_tags:policy' %}">Privacy</a>
                            <a href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><Br><Br>
                        <div class="mx-auto text-center">
                            <p style="font-size: 0.8rem;">Need Help? Email hello@topliketags.com</p>
                        </div>
                        <div class="ml-auto text-right">
                            <a href="https://www.instagram.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}