{% extends 'top_like_tags/base.html' %}
{% block base %}
    {% load static %}
    <style>
    .main_part, .overlay{
        display: none;
    }
    </style>
    <br><Br><br>
            <div class="container mx-auto text-center">
                <h1>#TopLikeTags</h1>
                <br>
                <h6 class="col-md-8 mx-auto text-center">We regularly spend some time to research and handpick custom hashtags for some popular
                topics like travel✈, covid19🧬 and your big wedding day💍. This may help you get a better
                idea of which hashtags to use for your post. If you cannot find the category for your post below,
                    try our<a href="{% url 'top_like_tags:index' %}"> hashtag generator.</a></h6><br>
                <h5 style="font-weight: 900;">COPY AND PASTE THE HASHTAGS INTO INSTAGRAM CAPTION OR COMMENT.</h5>
                <br>
                <p style="color: grey; font-weight: 900;">For Instagram, it only allows up to 30 hashtags per post.</p><br>
                <div class="text-left mx-auto col-md-8">
                    <b>Most Popular</b>
                    <textarea rows="4" class="form-control">#love #TagsForLikes #TagsForLikesApp #TFLers #tweegram #photooftheday #20likes #amazing #smile #follow4follow #like4like #look #instalike #igers #picoftheday #food #instadaily #instafollow #followme #girl #iphoneonly #instagood #bestoftheday #instacool #instago #all_shots #follow #webstagram #colorful #style #swag
                    </textarea>
                </div><bR><Br>
                <div class="col-md-5 mx-auto text-center ads" style="z-index: 4;">
                    <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- toplikesocial -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3557075530543855"
     data-ad-slot="5030182906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

                </div>
                <br><Br>

    {% if fixed_hash %}
        {% for hashtag in fixed_hash %}
                <div onclick="open_div(this);" class="main_div text-left col-md-8 mx-auto">
                    <div style="cursor: pointer;" class="row">
                        <div class="col-md-11">
                            <h3 style="color: #00a6ff;">{{ hashtag.title }}</h3>
                            {% if hashtag.sub_title %}
                                <h5>&nbsp;&nbsp;{{ hashtag.sub_title }}</h5>
                            {% endif %}
                        </div>
                        <div class="col-md-1">
                            <i style="font-size: 1.6rem;" class="fa fa-chevron-down"></i>
                            <i style="display: none; font-size: 1.6rem;" class="fa fa-chevron-up"></i>
                        </div>
                    </div><Br>
                    <div class="hashtags_div mx-auto text-center">
                        <textarea style="display: none; font-size: 0.9rem;" rows="5" id="bar" class="form-control">{{ hashtag.hashtags }}</textarea><br>
                        <button data-clipboard-target="#bar" onclick="alert('Copied! You can now paste them :)');" style="display: none; background: transparent; color: black;" class="btn btn-primary text-center mx-auto">Copy</button>
                    </div><Br>
                    <script>
                        function open_div(ele) {
                            $('.main_div').attr('onclick', 'close_div(this);')
                            $(ele).find("i.fa-chevron-down").hide('slow');
                            $(ele).find("i.fa-chevron-up").show('slow');
                            $(ele).find("textarea").show('slow');
                            $(ele).find("button").show('slow');
                        }
                        function close_div(ele) {
                            $('.main_div').attr('onclick', 'open_div(this);')
                            $(ele).find("i.fa-chevron-up").hide('slow');
                            $(ele).find("i.fa-chevron-down").show('slow');
                            $(ele).find("textarea").hide('slow');
                            $(ele).find("button").hide('slow');
                        }
                    </script>
                </div>
        {% endfor %}
    {% endif %}
            </div>
    <br><Br><br>
    <div class="col-md-10 mx-auto text-center ads" style="z-index: 4;">
        <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- toplikesocial -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3557075530543855"
     data-ad-slot="5030182906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
    <hr>
    <div class="social_icons">

    </div>
    <!--Footer-->
<div class="col-md-12">
                <div class="container" style="padding: 10px;">
                    <hr>
                    <div class="row">
                        <div class="mr-auto text-left">
                            <p style="font-size: 0.8rem;">Copyright © 2020 TopLikeTags
                                <a class="ftxt" href="{% url 'top_like_tags:about' %}">| About |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:policy' %}">Privacy |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><br>
                        <div class="ftxt_show mr-auto text-center" style="font-size: 0.8rem; display: none">
                            <a href="{% url 'top_like_tags:about' %}">About</a>
                            <a href="{% url 'top_like_tags:policy' %}">Privacy</a>
                            <a href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><Br><Br>
                        <div class="mx-auto text-center">
                            <p style="font-size: 0.8rem;">Need Help? Email hello@topliketags.com</p>
                        </div>
                        <div class="ml-auto text-right">
                            <a href="https://www.instagram.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-facebook"></i>
                            </a>
        {#                    <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-twitter"></i>#}
        {#                    <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-google-plus"></i>#}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}