{% extends 'top_like_tags/base.html' %}
{% block base %}
    {% load static %}
    <style>
        .fc{
            background: transparent;
            color: white;
            border: 2px solid #17d9db;
            height: 50px;
            padding: 20px;
            border-radius: 50px;
        }
        .fc::placeholder{
            color: white;
        }
    .btn, .btn:hover{
        border-radius: 50px;
        border: 2px solid #17d9db;
        background: transparent;
        color: #17d9db;
    }
    .fas{
        color: #f9333f;
    }

    </style>
    <div class="col-md-12">
        <!--TopPart-->
        <div class="container mx-auto text-center" style="color: white; z-index: 4; padding: 20px;"><br>
            <!--<div class="col-md-8 mx-auto text-center" style="z-index: 4;">
                <h1 style="border-radius: 10px; padding: 20px; border: 2px solid white;">Space for ads...</h1>
            </div>-->
            <div class="col-md-12 main_tab mx-auto text-center" style="margin: 120px 0px 0px 0px; z-index: 4;">
                <h3 style="">FREE HASHTAGS GENERATOR – Find Your Trending Hashtags</h3>
            </div>
        </div>
        <!--WorkingPart-->
        <div class="container wp mx-auto text-center" style="color: white; height: 300px;">
            <div class="col-md-5 text-center mx-auto" style="z-index: 4;">
                <form method="post" class="main_form mx-auto text-center">{% csrf_token %}
                    <div class="form-group">
                        <label for="keyword_field"></label>
                        <input type="text" required placeholder="Enter The Keyword For The Hashtag..." id="keyword_field"
                        class="fc form-control"/>
                    </div><br>
                    <div class="error_txt"></div>
                    <div class="row mx-auto text-center">
                        <div class="form-check mx-auto text-center">
                            <label class="form-check-label" for="random"><input onclick="check_it(this.id);" type="checkbox" id="random" class="form-check-input"/>
                            Random</label>
                         </div>&nbsp;&nbsp;
                        <div class="form-check mx-auto text-center">
                            <label class="form-check-label" for="top"><input onclick="check_it(this.id);" type="checkbox" id="top" class="form-check-input"/>
                            Top</label>
                         </div>
                    </div><br>
                    <button class="btn btn-primary text-center">Generate Hashtag</button>
                </form>
            </div>
        </div><br><br><br><br><Br><Br>
        <div class="container mx-auto text-center ads" style="z-index: 4;">
            <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black; color: black;">Space for ads...</h1>-->
        </div>
        <div class="col-md-6 mx-auto text-left hash" style="z-index: 4; padding: 20px 20px 20px 20px; display: none;">
            <div style="color: black;">
                <textarea rows="7" style="border-radius: 10px;" id="bar" class="hashtags form-control"></textarea>
            </div><br>
            <div class="mx-auto text-center">
                <button data-clipboard-target="#bar" onclick="alert('Copied! You can now paste them :)');" style="background: transparent; color: black;" class="btn btn-primary">Copy</button>
            </div>
        </div><br><br><br>
        <!--Blogs-->
        <div class="col-md-12 mx-auto text-center">
            <div class="row mx-auto text-left">
                {% if blog %}
                    {% for b in blog %}
                        <div class="card mx-auto text-center" style="width: 20rem;  margin: 5px;">
                          <img class="card-img-top" src="{{ b.blogimg.url }}" style="width: auto; height: 230px;" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title">{{ b.title|truncatechars:60 }}</h5>
                            <p class="card-text">{{ b.text|truncatechars:50 }}</p>
                            <a href="{% url 'top_like_tags:full_blog' blog_id=b.blogurl %}"><button class="btn btn-primary">Read More</button></a>
                          </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div><Br><Br><Br>
        <!--First Text Part-->
        <div class="col-md-8 mx-auto text-center ads" style="z-index: 4;">
            <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- toplikesocial -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3557075530543855"
     data-ad-slot="5030182906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </div><br><br><br>

        <!--Why all hashtag-->
        <div class="container">
            <div class="col-md-6 mx-auto text-center">
                <br>
                <h3 style="font-weight: 900;">Why Hashtags are Important?</h3>
                <hr class="col-md-1" style="background: #f9333f;">
{#                <p>Why Hashtags are Important?</p>#}<br><Br>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding: 10px;">
                    <div class="row">
                        <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                            <img style="max-width: 100%; height: auto; display: block;" src="{% static 'arrow-up.png' %}">
                        </div><br>
                        <div class="col-md-9"><br>
                            <h6 style="font-weight: 900;">Increase Your Reach</h6><Br>
                            <p>TopLikeTags algorithm detects the real time trending hashtags to increase the
                                exposure of your content.</p>
                        </div>
                    </div><br>
                </div>
                <div class="col-md-4" style="padding: 10px;">
                    <div class="row">
                        <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                            <img style="max-width: 100%; height: auto; display: block;" src="{% static 'popular.png' %}">
                        </div>
                        <div class="col-md-9"><br>
                            <h6 style="font-weight: 900;">More Followers & Likes on Social Media</h6><Br>
                            <p>Our relevant hashtags help you push the content to gain more followers
                                and likes.</p>
                        </div>
                    </div><br>
                </div>
                <div class="col-md-4" style="padding: 10px;">
                    <div class="row">
                        <div class="insta-img mx-auto text-center" style="width: 50px; margin: 0px 0px 0px 0px">
                            <img style="max-width: 100%; height: auto; display: block;" src="{% static 'emoji.png' %}">
                        </div><br>
                        <div class="col-md-9"><br>
                            <h6 style="font-weight: 900;">This is Free</h6><Br>
                            <p>Our hashtag tools are totally free of charge. You can generate as many
                                top hashtags as you want.</p>
                        </div>
                    </div><br>
                </div>
            </div><br><br><br>
        </div>
        <div class="col-md-8 mx-auto text-center ads" style="z-index: 4;">
            <!--<h1 style="border-radius: 10px; padding: 20px; border: 2px solid black;">Space for ads...</h1>-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- toplikesocial -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3557075530543855"
     data-ad-slot="5030182906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </div><br><br><br>
    </div><br>
    <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding: 20px;">
                    <h4 style="font-weight: 900;">Trending Hashtags for 2020 😎🤳🍜</h4>
                    <hr style="background-color: #f9333f;">
                    <p style="color: #535353;">We constantly update our algorithm to provide you the best hashtags. Social Media Algorithms like to keep content fresh from time to time. So when your posts
                    are tagged with trending hashtags, your photos/ videos may have a chance to get featured on explore
                    page.</p>
                </div>
                <div class="col-md-6 mx-auto text-left" style="padding: 20px;">
                    <h4 style="font-weight: 900;">Copy and Paste Hashtags ⚙</h4>
                    <hr style="background-color: #f9333f;">
                    <p style="color: #535353;">Instagram only allows up to 30 hashtags each post. By Inserting a keyword
                    in our hashtags generator, 30 most relevant hashtags will be generated. You can easily copy and paste
                    the hashtags onto your posts</p>
                </div>
            </div>
        </div><Br><br><br>
    <!--Footer-->
    <div class="col-md-12">
                <div class="container" style="padding: 10px;">
                    <hr>
                    <div class="row">
                        <div class="mr-auto text-left">
                            <p style="font-size: 0.8rem;">Copyright © 2020 TopLikeTags
                                <a class="ftxt" href="{% url 'top_like_tags:about' %}">| About |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:policy' %}">Privacy |</a>
                                <a class="ftxt" href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><br>
                        <div class="ftxt_show mr-auto text-center" style="font-size: 0.8rem; display: none">
                            <a href="{% url 'top_like_tags:about' %}">About</a>
                            <a href="{% url 'top_like_tags:policy' %}">Privacy</a>
                            <a href="{% url 'top_like_tags:contact' %}">Contact</a>
                        </div><Br><Br>
                        <div class="mx-auto text-center">
                            <p style="font-size: 0.8rem;">Need Help? Email hello@topliketags.com</p>
                        </div>
                        <div class="ml-auto text-right">
                            <a href="https://www.instagram.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/topliketags">
                                <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-facebook"></i>
                            </a>
        {#                    <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-twitter"></i>#}
        {#                    <i style="margin: 0px 4px 0px 4px; font-size: 1.5rem;" class="fab fa-google-plus"></i>#}
                        </div>
                    </div>
                </div>
            </div>
<script>
$('.main_form').submit(function (e) {
    e.preventDefault();
    if ($('.form-check-input').is(':checked')){
        $('.error_txt').html('');
        $.ajax({
            url: "{% url 'top_like_tags:generator' %}",
            type: 'POST',
            data: {
                keyword: $('#keyword_field').val(),
                random: $('#random').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                $('.main_form')[0].reset();
                $('.hashtags').html('');
                $('.hash').show();
                var d = JSON.parse(data);
                if ($('#random').val() == 1) {
                    for (var i = 0; i < d.length; i) {
                        var r = Math.floor(Math.random() * d.length);
                        $('.hashtags').append('#' + d[r] + ' ').fadeIn("slow");
                        d.splice(r, 1);
                    }
                }
                else{
                    for (i=0; i < d.length; i++){
                        $('.hashtags').append('#'+d[i]+' ').fadeIn("slow");
                    }
                }
                var clipboard = new ClipboardJS('.btn');
                window.scrollTo(0,500);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }else{
        $('.error_txt').append('<p class="mx-auto text-center" style="color: #f9333f;">Please Select One CheckBox To Start</p>');
    }
});
$(document).ready(function () {
    $('#random').prop('checked', true);
    $('#random').val(1);
});
function check_it(ele){
    $('.form-check-input').prop('checked', false);
    $('.form-check-input').val(0);
    var e = '#'+ele;
    $(e).val(1);
    $(e).prop('checked', true);
}
</script>
{% endblock %}